<section class="section confirmation">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="confirmation-content text-center">
                    <i class="fa fa-check-circle fa-lg"></i>
                    <h2 class="mt-3 mb-4">Thank you for your appoinment</h2>
                    <p>Please find your attached details below: </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 mx-auto" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
            <h3>Name: manoj</h3>
            <h4>email: abc@gmail.com</h4>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card text-center p-4 mt-4 h5">
                        Date :1-1-2022
                    </div>
                    <div class="card text-center p-4 h5">
                        <div class="h5 m-2">
                            Slot :
                        </div>
                        <div class="h5">
                            <h6>Start time : 1:1</h6>
                            <h6>End time &nbsp;&nbsp;: 1:1</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>