<title>
    <%=title%>
</title>
<link rel="stylesheet" href="/css/sign_in.css">

<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                    <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                    <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Log In</h4>
                                        <form action="/users/create-session" method="post">
                                            <div>
                                                <input type="text" id="email_username" name="email_username" placeholder="Username / E-mail" class="form-style">
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div>
                                                <input type="password" id="password" name="password" placeholder="Password" class="form-style">
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <button type="submit" id="submit" class="btn mt-4">LOGIN</button>
                                            
                                        </form>
                                        <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your
                                            password?</a></p>
                                
                                        <!-- <div class="form-group">
                                            <input type="email" name="email_username" class="form-style"
                                                placeholder="Your Email" id="logemail" autocomplete="off">
                                            <i class="input-icon uil uil-at"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="password" name="password" class="form-style"
                                                placeholder="Your Password" id="logpass" autocomplete="off">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <a href="#" class="btn mt-4">submit</a>
                                        <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your
                                                password?</a></p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-back">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Sign Up</h4>
                                        <form action="/users/new-user" method="post">
                                            <div class="form-group">
                                                <input type="text" id="name" name="name" placeholder="Your Name" class="form-style">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="username" name="username" placeholder="Your username" class="form-style">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="email" name="email" placeholder="email@abc.com" class="form-style">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" id="password" name="password" placeholder="Create Password" class="form-style">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" id="re_password" name="re_password" placeholder="Re-enter Password" class="form-style">    
                                            </div>
                                            <div id="role">
                                                <label for="role">You are</label>
                                                    <input type="radio" id="patient" name="role" value="patient">
                                                    <label for="option1">Patient</label>

                                                    <input type="radio" id="practitioner" name="role" value="practitioner">
                                                    <label for="option2">Medical Practitioner</label>
                                            </div>
                                            <div id="button">
                                                <button type="submit" id="submit" class="btn mt-4">Register</button>
                                            </div>
                                        
                                        </form>
                                        <!-- <div class="form-group">
                                            <input type="text" name="email_username" class="form-style"
                                                placeholder="Your Full Name" id="logname" autocomplete="off">
                                            <i class="input-icon uil uil-user"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="email" name="logemail" class="form-style"
                                                placeholder="Your Email" id="logemail" autocomplete="off">
                                            <i class="input-icon uil uil-at"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="password" name="logpass" class="form-style"
                                                placeholder="Your Password" id="logpass" autocomplete="off">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <a href="#" class="btn mt-4">submit</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div id="sign-in-container">

    <form action="/users/create-session" method="post">
            <label for="email_username">Username or E-Mail</label> <br>
            <input type="text" id="email_username" name="email_username" placeholder="username/email@abc.com">
    
            <br>
    
            <label for="password">Password</label> <br>
            <input type="password" id="password" name="password">
            
            <br>
            
            <button type="submit" id="submit">LOGIN</button>

    </form>

    <div id="newUser">
        <p>New User?</p> 
        <div>

            <a href="/users/sign-up">Register</a>

        </div>
    </div>

</div> -->